**/.ipynb_checkpoints/
**/__pycache__/
Data/**/*.pt
Data/**/*.pdb
Data/**/*.npz
Data/**/tmp/
Data/**/ESM/
Data/**/pdb_seqres.fasta
Data/**/pdb_seqres.txt.gz
Results/RandomForestClassification/**/*Fold*
